# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Python cache
.pytest_cache/
.mypy_cache/

# Dataset (optional)
dataset/*.csv

# Environment Variables
.env